<section id="home" class="top_banner_bg secondary-bg">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="top_banner">
				</div>
				
				<div class="col-md-6 kk">
					<div class="present mm">
					
						<h1 class="akhil"> To keep the body in good health is a duty... otherwise we shall not be able to keep our mind strong and clear.
</h1>
						
						
						
						<div class="section_btn loggin">
									<a href="#LOGIN"> <button class="btn btn-default" type="submit"> </i> LOGIN</button> </a>	
									
								    <span> <a href="#REGISTER"> <button class="btn btn-default" type="submit"><i> REGISTER</button> </a> </span>							
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>
<section>
<script src="js/jquery.vide.min.js"></script>
	<!-- main -->
	<div data-vide-bg="video/Ipad">
		<div class="center-container">
			<!--header-->
			<div class="header-w3l">
				<h2></h2>
			</div>
			<!--//header-->
			<div class="main-content-agile">
				<div class="sub-main-w3">	
					<div class="wthree-pro">
						<h2>Login Here</h2>
					</div>
					<form action="#" method="post">
						<input placeholder="Username or E-mail" name="Name" class="user" type="email" required="">
						<span class="icon1"><i class="" aria-hidden="true"></i></span><br><br>
						<input  placeholder="Password" name="Password" class="pass" type="password" required="">
						<span class="icon2"><i class="" aria-hidden="true"></i></span><br>
						<div class="sub-w3l">
							<h6><a href="#">Forgot Password?</a></h6>
							<div class="right-w3l">
								<input type="submit" value="Login">
							</div>
						</div>
					</form>
				</div>
			</div>
			<!--//main-->

			<!--footer-->
			<div class="footer">
				
			</div>
			<!--//footer-->
		</div>
	</div>

</section>

<section id="LOGIN"  >
<div class="main">
		<div class="login-form">
			<h1>Member Login</h1>
					<div class="head">
						<img src="images/user.png" alt=""/>
					</div>
				<form>
						<input type="text" class="text" value="USERNAME" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'USERNAME';}" >
						<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
						<div class="submit">
							<input type="submit" onclick="myFunction()" value="LOGIN" >
					</div>	
					<p> <a href="#home">(Forgot Password ?)</a>   <h><a href="#about">(REGISTER)</a></p>
					
  

					
				</form>
			</div>
			
		</div>
			
</section>





<section id="REGISTER" class="fifth-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			
				<div class="section_heading">
					<h2> REGISTRATION</h2>
					
					<h4>CHOOSE THE USER TYPE  </h4>
				</div>		
					
					<div class="tags">
						<ul>
							<li> <a href="file:///D:/project/New%20folder/rep.html"> PATIENT </a> </li>
							<li> <a href="#"> DOCTOR </a> </li>
							<li> <a href="#"> HOSPITAL </a> </li>
							
							
						</ul>
					</div>
			</div>
		</div>
	</div>
</section>






<section id="contact" class="contact_bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section_heading section_heading_2">
					<h2> Contact Us </h2>
				
					<h4>If you have any questions  or want to give any suggesion regarding our services please contact us via the details given below</h4>
				</div>
							
				
				<div class="col-md-6">
					<div class="contact_text">
						<ul>
							<li>
								<span><i class="fa fa-home" aria-hidden="true"></i></span> 
								<h5> Thekkethazham, Manjaly, Mannam (P .O), North Paravur, Ernakulam, Kerala 683520 , India</h5>
							</li>
							
							<li>
								<span><i class="fa fa-envelope-o" aria-hidden="true"></i></span> 
								<h5> sngist@sngist.org </h5>
							</li>
							
							<li>
								<span><i class="fa fa-phone" aria-hidden="true"></i></span> 
								<h5>  0484 -2887000 </h5>
							</li>
							
							<li>
								<span><i class="fa fa-fax" aria-hidden="true"></i></span> 
								<h5> +91 484 2440299 </h5>
							</li>
						</ul>
						
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
</section>






<footer class="third-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				
				<div class="footer_top">
					<h4> Share Your opinion  </h4>
					
					<ul>
						<li> <a href="http://facebook.com/"> <i class="fa fa-facebook" aria-hidden="true"></i> </a> </li>
						<li> <a href="http://twitter.com/"> <i class="fa fa-twitter" aria-hidden="true"></i> </a> </li>
						<li> <a href="http://linkedin.com/"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a> </li>
						<li> <a href="http://google.com/"> <i class="fa fa-google-plus" aria-hidden="true"></i> </a> </li>
						<li> <a href="http://youtu.be/"> <i class="fa fa-youtube-square" aria-hidden="true"></i> </a> </li>
						<li> <a href="https://www.instagram.com"> <i class="fa fa-instagram" aria-hidden="true"></i> </a> </li>
					</ul>
				</div>
				
				
				
				
			</div>
		</div>
	</div>